doc/grafiken_gen
doc/Anforderungen-AppGeneratorUI.html
src/test/resources/config.yaml
src/test/resources/cache/output
src/test/resources/filestatecontroller/cleanfiles/inputCur
src/test/resources/merge/complete/processing/MergeCur
src/test/resources/merge/incomplete/processing/InputCur
src/test/resources/merge/incomplete/processing/InputPrev
src/test/resources/merge/incomplete/processing/MergeCur
src/test/resources/merge/incomplete/processing/MergePrev
src/test/resources/merge/subdir/processing
src/test/resources/merge/subdirPrompt/processing
src/test/resources/merge/unmerged/processing
src/test/resources/processmanager/test
src/test/resources/prompt/processing
src_gen/
target/
.classpath
.project
run.bat